/* --- HEADER --- */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--surface-color);
    border-bottom: 1px solid var(--border-color);
}

.app-header .title-font {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--primary-text-color);
}

.app-header nav {
    display: flex;
    gap: 1rem;
}